// Global styles for the front page

body.front-page {
  .front-page_wrapper {
    article.post-type-page {
      .home-section {
        margin-top: $header-height;
        @include mq("md", "min") {
          height: $panel-height;
        }

        .wp-block-group__inner-container {
          height: 100%;
          width: 100%;
        }
        //shared styles
        &.home-portfolio,
        &.home-about {
          z-index: 1;
          width: 100%;
          min-height: 100vh;
          border: solid 2px #000;
          background-color: $white;
          margin: $header-height 0 $footer-height 0;
          .section-header {
            &:before {
              content: "";
              display: inline-block;
              width: 45px;
              display: block;
              margin: auto;
              @include mq("md", "min") {
                //  width: 45px;
                // left: -$spacing--md;
                // bottom: $spacing--xs;
              }
            }

            @include mq("md", "min") {
              position: absolute;
              top: 0;
            }
          }

          .wp-block-group__inner-container {
            max-width: 980px;

            @include mq("md", "min") {
              &:after {
                font-family: $font-family-heading;
                font-size: $font-size-xxl;
                position: absolute;
                top: calc(50vh - 105px);
                transform: rotate(270deg);
              }
            }
          }
        }
      }
    }
  }
}

body.front-page.admin-bar {
  .front-page_wrapper {
    article.post-type-page {
      @include mq("md", "min") {
        .home-section {
          height: $admin-panel-height;
          &.home-portfolio,
          &.home-about {
            top: $admin-toolbar-height;
          }
        }
      }
    }
  }
}
