// Global styles for the front page

body.front-page {
  .front-page_wrapper {
    height: calc(100vh - 72px);
    article.post-type-page {
      height: 100%;
      .home-section {
        height: 100%;
        .wp-block-group__inner-container {
          height: 100%;
          width: 100%;
        }

        &.home-portfolio,
        &.home-about {
          position: absolute;
          width: 100%;
          top: 0;
        }
      }
    }
  }
}

body.front-page.admin-bar {
  .front-page_wrapper {
    height: calc(100vh - 104px);
  }
}
