// Global styles for the front page
html,
body.front-page {
  @include mq("md", "min") {
    overflow-x: hidden;
  }
}
body.front-page {
  .front-page_wrapper {
    article.post-type-page {
      .home-section {
        min-height: 100vh;
        @include mq("md", "min") {
          min-height: $panel-height;
        }

        .wp-block-group__inner-container {
          height: 100%;
          width: 100%;
          align-self: center;
        }
        //shared styles
        &.home-portfolio,
        &.home-about {
          z-index: 1;
          width: 100%;
          background-color: $white;
          margin: $header-height 0 $footer-height 0;
          padding: $spacing--md;
          @include mq("md", "max") {
            .back-btn {
              display: none;
            }
          }

          @include mq("md", "min") {
            overflow-x: hidden;
            overflow-y: scroll;
            position: absolute;
            top: 0;
            transition: transform 0.5s ease; /* Add transition for smooth sliding */
            &.show {
              transform: translateX(0);
              .back-btn {
                display: inline-block;

                position: absolute;
                top: 60px;
                cursor: pointer;
                .circle {
                  display: flex;
                  width: 100px;
                  height: 100px;
                  background-color: $dark-magenta-transparent;
                  border-radius: 100%;
                  .back-icon {
                    width: 50%;
                  }
                }
              }
            }
          }
          @include mq("lg", "min") {
            display: flex;
            justify-content: center;
            align-items: stretch;
            &.show {
              .back-btn {
                width: 150px;
                top: calc(50vh - 105px);
                .circle {
                  width: 150px;
                  height: 150px;
                  .back-icon {
                    width: 50%;
                  }
                }
              }
            }
          }
          .section-header {
            margin-top: 0;
            &:before {
              content: "";
              display: inline-block;
              width: $icon-sm;
              display: block;
              margin: auto;
              @include mq("xl", "min") {
                width: $icon-lg;
              }
            }
            @include mq("xl", "min") {
              position: absolute;
              top: calc(50vh - 105px);
              transform: rotate(270deg);
            }
          }

          .wp-block-group__inner-container {
            max-width: $breakpoint--md;
            @include mq("xl", "min") {
              max-width: $breakpoint--lg;
            }
          }
        }
      }
    }
  }
}

body.front-page.admin-bar {
  .front-page_wrapper {
    article.post-type-page {
      @include mq("md", "min") {
        .home-section {
          height: $admin-panel-height;
          &.home-portfolio,
          &.home-about {
            top: $admin-toolbar-height;
          }
        }
      }
    }
  }
}
