.wp-block-create-block-simple-swiper {
  .swiper {
    .swiper-button-prev,
    .swiper-button-next {
      &:after,
      &:before {
        color: $black-70;
        background-color: rgba(0, 255, 255, 0.1);
      }
    }
    .swiper-pagination {
      &-bullet {
        width: 12px;
        height: 12px;
        &.swiper-pagination-bullet-active {
          background-color: darken($cyan, 15%);
        }
      }
    }
  }
}
