body {
  font-family: $font-family-body;
  color: $black;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

h3,
h4,
h5,
h6 {
  margin: $spacing--sm 0;
}

h1 {
  font-size: $font-size-lg;

  @include mq("md", "min") {
    font-size: $font-size-xl;
  }

  &.site-logo {
    font-family: $font-family-logo;
    font-size: $font-size-body;
    font-weight: $font-weight-normal;
    margin: 0 auto;
  }
}

h2 {
  font-size: $font-size-lg;
  &.section-header {
    font-size: $font-size-lg;
    @include mq("md", "min") {
      font-size: $font-size-xxl;
    }
  }
}
h3 {
  font-size: $font-size-md;
}

h4 {
  font-size: $font-size-md-sm;
}

h5 {
  font-size: $font-size-body;
}
h6 {
  font-size: $font-size-sm;
}
a {
  font-weight: $font-weight-bold;
  &.site-logo-link {
    text-decoration: none;
    color: $white;
    font-weight: $font-weight-normal;
  }
}
.site-footer {
  font-size: $font-size-sm;
  a {
    font-weight: $font-weight-normal;
  }
}

p,
li {
  line-height: $line-height-body;
  font-size: $font-family-body;
}
