body {
  font-family: $font-family-body;
  color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $font-size-xxl;
  &.site-logo {
    font-family: $font-family-logo;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    margin: 0 auto;
  }
}
h2 {
  font-size: $font-size-xl;
}
h3 {
  font-size: $font-size-lg;
}

h4 {
  font-size: $font-size-med;
}

h5 {
  font-size: $font-size-normal;
}
h5 {
  font-size: $font-size-small;
}
a {
  &.site-logo-link {
    text-decoration: none;
    color: black;
  }
}
.site-footer {
  font-size: $font-size-small;
}
