.site-footer {
  background-color: $gray-light;
  padding: $spacing--xs $spacing--sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  img {
    width: 24px;
  }
}
