.site-footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: darken($dark-magenta, 10%);
  padding: $spacing--xs $spacing--sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  color: $white;
  img {
    width: 24px;
    margin-left: $spacing--xs;
  }
}
