.site-header {
  position: fixed;
  width: 100vw;
  background-color: $dark-magenta;
  text-align: center;
  padding: $spacing--sm;
  z-index: 10;
  .site-logo-link {
    font-size: $font-size-md-sm;
  }
}
