$black: #000;
$black-70: rgba(0, 0, 0, 0.7);
$white: #fff;
$gray-light: #d9d9d9;
$gray-med: #a09e9e;
$gray-dark: #787878;
$dark-green: #1e2e30;
$dark-magenta: #840084;
$cyan: rgb(0, 255, 255);
$cyan-gray: #e1f7f7;
$light-magenta: #eda8ed;
$dark-magenta-rgb: rgb(132, 0, 132);
$dark-magenta-transparent: rgba(132, 0, 132, 0.15);

$home-nav-gradient: linear-gradient(
    45deg,
    #fff 0%,
    rgba(0, 255, 255, 0.25) 5%,
    rgba(255, 0, 255, 0.25) 40%,
    rgba(255, 0, 255, 0.25) 60%,
    rgba(0, 255, 255, 0.25) 95%,
    #fff 100%
  )
  var(--p, 0) / var(--p, 0) no-repeat;
