/* -------------------------------------------------------------------- *
* ---  Variables: Structure - Spacing (px)
* -------------------------------------------------------------------- */

$spacing--xs: 0.25em;
$spacing--sm: 0.5em;
$spacing--md: 1em;
$spacing--lg: 1.25em;
$spacing--xl: 1.5em;
$spacing--xxl: 2em;
