/* -------------------------------------------------------------------- *
 * ---  Variables: Structure - Breakpoints
 * -------------------------------------------------------------------- */

$breakpoint--xxs: 320px;
$breakpoint--xs: 375px;
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 992px;
$breakpoint--xl: 1200px;
$breakpoint--xxl: 1400px;

$breakpoints: (
  "xxs": (
    min-width: $breakpoint--xs,
  ),
  "xs": (
    min-width: $breakpoint--xs,
  ),
  "sm": (
    min-width: $breakpoint--sm,
  ),
  "md": (
    min-width: $breakpoint--md,
  ),
  "lg": (
    min-width: $breakpoint--lg,
  ),
  "xl": (
    min-width: $breakpoint--xl,
  ),
  "xxl": (
    min-width: $breakpoint--xxl,
  ),
);

$breakpoints-max: (
  "xxs": (
    max-width: $breakpoint--xxs - 1,
  ),
  "xs": (
    max-width: $breakpoint--xs - 1,
  ),
  "sm": (
    max-width: $breakpoint--sm - 1,
  ),
  "md": (
    max-width: $breakpoint--md - 1,
  ),
  "lg": (
    max-width: $breakpoint--lg - 1,
  ),
  "xl": (
    max-width: $breakpoint--xl - 1,
  ),
  "xxl": (
    max-width: $breakpoint--xxl - 1,
  ),
);

/* -------------------------------------------------------------------- *
* ---  Variables: Structure - Spacing (px)
* -------------------------------------------------------------------- */

$spacing--xs: 0.25rem;
$spacing--sm: 0.5rem;
$spacing--md: 1rem;
$spacing--lg: 1.25rem;
$spacing--xl: 1.5rem;
$spacing--xxl: 2rem;

$header-height: 34px;
$footer-height: 38px;
$panel-height: calc(100vh - 72px);
$admin-panel-height: calc(100vh - 105px);

$admin-toolbar-height: 32px;
