/* -------------------------------------------------------------------- *
 * ---  Variables: Structure - Breakpoints
 * -------------------------------------------------------------------- */

$breakpoint--xxs: 320px;
$breakpoint--xs: 375px;
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 992px;
$breakpoint--xl: 1200px;
$breakpoint--xxl: 1400px;

$breakpoints: (
  "xxs": $breakpoint--xs,
  "xs": $breakpoint--xs,
  "sm": $breakpoint--sm,
  "md": $breakpoint--md,
  "lg": $breakpoint--lg,
  "xl": $breakpoint--xl,
  "xxl": $breakpoint--xxl,
);

/* -------------------------------------------------------------------- *
* ---  Variables: Structure - Spacing (px)
* -------------------------------------------------------------------- */

$spacing--xs: 0.25rem;
$spacing--sm: 0.5rem;
$spacing--md: 1rem;
$spacing--lg: 1.25rem;
$spacing--xl: 1.5rem;
$spacing--xxl: 2rem;

$header-height: 34px;
$footer-height: 38px;
$panel-height: calc(100vh - $header-height);
$admin-panel-height: calc(100vh - 105px);

$admin-toolbar-height: 32px;
