//home about panel styles
body.front-page {
  .front-page_wrapper {
    article.post-type-page {
      .home-section.home-about {
        right: 100%;
        .wp-block-group__inner-container {
          &:after {
            content: "About";
            left: -32px;
          }
        }
      }
    }
  }
}
