//home portfolio panel styles
body.front-page {
  .front-page_wrapper {
    article.post-type-page {
      .home-section.home-portfolio {
        left: 100%;

        .wp-block-group__inner-container {
          .eye-outer {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 15px;
            svg {
              display: block;
              width: 60px;
              height: 60px;
              pointer-events: none;
              transform-style: preserve-3d;
              circle.eye {
                fill: #a1a1b6;
              }
              path.top,
              path.bottom {
                fill: transparent;
                stroke: #a1a1b6;
                stroke-width: 1.3px;
                stroke-linecap: round;
              }
            }
          }
          &:after {
            content: "Portfolio";
            right: -72px;
          }
        }
      }
    }
  }
}
